/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,200&family=Poppins:ital@1&family=Sen:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
html,button{
    font-family: "Quicksand", "sand-serif";
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}